springboot-integration-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from SpringBoot Integration to
      Quarkus
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-integration-to-quarkus.windup.xml
  rules:
    springboot-integration-to-quarkus-00010:
      perform:
        hint:
          category-id: mandatory
          effort: '5'
          links:
          - href: https://quarkus.io/guides/camel
            title: Quarkus Apache Camel
          message: SpringBoot Integration flows are not supported. A migration to
            Apache Camel route is mandatory.
          tags: []
          title: SpringBoot Integration flows are not supported.
      when:
        xmlfile:
          matches: //*/int:channel
          namespace:
            prefix: int
            uri: http://www.springframework.org/schema/integration
      where: {}
    springboot-integration-to-quarkus-00020:
      perform:
        hint:
          category-id: mandatory
          effort: '5'
          links:
          - href: https://quarkus.io/guides/camel
            title: Quarkus Apache Camel
          message: SpringBoot IntegrationFlow class usage is not supported. A migration
            to Apache Camel route using From is mandatory.
          tags: []
          title: SpringBoot IntegrationFlow class usage is not supported.
      when:
        javaclass:
          location: IMPORT
          references: org.springframework.integration.dsl.IntegrationFlow
      where: {}
