springboot-cache-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from SpringBoot Cache to Quarkus
      spring-cache extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-cache-to-quarkus.windup.xml
  rules:
    springboot-cache-to-quarkus-00000:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://quarkus.io/guides/spring-cache
            title: Quarkus Extension for Spring Cache API Guide
          message: Replace the SpringBoot Cache module artifact with Quarkus `spring-cache`
            extension Add Quarkus dependency `io.quarkus:quarkus-spring-cache`
          tags: []
          title: Replace the SpringBoot cache artifact with Quarkus 'spring-cache'
            extension
      when:
        or:
        - dependency:
            artifactId: spring-boot-starter-cache
            groupId: org.springframework.boot
        - artifact:
            artifactId: spring-boot-starter-cache
            fromVersion: null
            groupId: org.springframework.boot
            toVersion: null
      where: {}
