springboot-metrics-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from SpringBoot Metrics to Quarkus
      Microprofile Metrics extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-metrics-to-quarkus.windup.xml
  rules:
    springboot-metrics-to-quarkus-0100:
      perform:
        hint:
          category-id: mandatory
          effort: '5'
          links:
          - href: https://quarkus.io/guides/microprofile-metrics
            title: Quarkus metrics
          message: "Replace the Micrometer dependency with Quarkus Microprofile 'metrics'\
            \ extension.  \n                        Usually this is a transitive dependency\
            \ brought by `org.springframework.boot:spring-boot-starter-actuator` and\
            \ has to be replaced by `io.quarkus:quarkus-smallrye-metrics` artifact"
          tags: []
          title: Replace the Micrometer dependency with Quarkus Microprofile 'metrics'
            extension
      when:
        dependency:
          artifactId: micrometer-core
          groupId: io.micrometer
      where: {}
    springboot-metrics-to-quarkus-0200:
      perform:
        iteration:
          hint:
            category-id: mandatory
            effort: '5'
            links:
            - href: https://quarkus.io/guides/microprofile-metrics
              title: Quarkus metrics
            message: Replace the Micrometer code with Microprofile Metrics code
            tags: []
            title: Replace the Micrometer code with Microprofile Metrics code
          over: default
      when:
        artifact:
          artifactId: micrometer-core
          fromVersion: null
          groupId: io.micrometer
          toVersion: null
      where: {}
    springboot-metrics-to-quarkus-0300:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://quarkus.io/guides/micrometer
            title: Quarkus Guide - Micrometer Metrics
          message: Replace `management.endpoints.web.exposure.include=prometheus`
            with `quarkus.micrometer.export.prometheus.path=/actuator/prometheus`
          tags: []
          title: Replace Spring Prometheus Metrics endpoint mapping
      when:
        filecontent:
          filename: application{profile}.{extension}
          pattern: management.endpoints.web.exposure.include{wildcards}prometheus
      where:
        extension: (properties|yml|yaml)
        profile: .*
        wildcards: .*
