springboot-cloud-config-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from SpringBoot Cloud config
      client to Quarkus spring-cloud-config-client extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-cloud-config-client-to-quarkus.windup.xml
  rules:
    springboot-cloud-config-client-to-quarkus-00000:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://quarkus.io/guides/spring-cloud-config-client
            title: Quarkus - Reading properties from Spring Cloud Config server
          - href: https://cloud.spring.io/spring-cloud-config/reference/html/
            title: Spring Cloud Config
          message: Replace the Spring Cloud Config Client artifact with Quarkus `quarkus-spring-cloud-config-client`
            extension Add Quarkus dependency `io.quarkus:quarkus-spring-cloud-config-client`.
            A change may also be required to the code and configuration.
          tags: []
          title: Replace the Spring Cloud Config Client artifact with Quarkus 'quarkus-spring-cloud-config-client'
            extension
      when:
        or:
        - project:
            artifact:
              artifactId: spring-cloud-config-client
              groupId: org.springframework.cloud
        - dependency:
            artifactId: spring-cloud-config-client
            groupId: org.springframework.cloud
      where: {}
