springboot-web-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from Spring Web to Quarkus spring-web
      extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-web-to-quarkus.windup.xml
  rules:
    springboot-web-to-quarkus-00000:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://quarkus.io/guides/spring-web
            title: Quarkus Spring Web Guide
          - href: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.5#spring-web
            title: Quarkus Migration Guide 2.5
          message: Replace the Spring Web artifact with Quarkus `spring-web` extension
            Spring Web is a spring-web artifact brought transitively by any `org.springframework:spring-web*`
            dependency Add Quarkus dependency `io.quarkus:quarkus-spring-web` Starting
            with Quarkus version 2.5, the underlying JAX-RS engine must be chosen.
            For performance reasons, the `quarkus-resteasy-reactive-jackson` dependency
            should be used.
          tags: []
          title: Replace the Spring Web artifact with Quarkus 'spring-web' extension
      when:
        or:
        - artifact:
            artifactId: spring-web
            fromVersion: null
            groupId: org.springframework
            toVersion: null
        - artifact:
            artifactId: spring-boot-starter-web
            fromVersion: null
            groupId: org.springframework.boot
            toVersion: null
        - dependency:
            artifactId: spring-web
            groupId: org.springframework
      where: {}
    springboot-web-to-quarkus-00010:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.5#spring-web
            title: Quarkus Migration Guide 2.5
          message: Add the Quarkus `quarkus-resteasy-reactive-jackson` dependency.
            Starting with Quarkus version 2.5, the underlying JAX-RS engine must be
            chosen. For performance reasons, the `quarkus-resteasy-reactive-jackson`
            dependency should be used."
          tags: []
          title: Add the Quarkus 'quarkus-resteasy-reactive-jackson' dependency
      when:
        or:
        - and:
          - artifact:
              artifactId: quarkus-spring-web
              fromVersion: null
              groupId: io.quarkus
              toVersion: null
          - artifact:
              artifactId: quarkus-resteasy-reactive-jackson
              fromVersion: null
              groupId: io.quarkus
              toVersion: null
        - and:
          - dependency:
              artifactId: quarkus-spring-web
              groupId: io.quarkus
          - dependency:
              artifactId: quarkus-resteasy-reactive-jackson
              groupId: io.quarkus
      where: {}
