springboot-parent-pom-to-quarkus:
  metadata:
    description: This ruleset gives hints to replace the Spring Parent POM with Quarkus
      BOM
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-parent-pom-to-quarkus.windup.xml
  rules:
    springboot-parent-pom-to-quarkus-00000:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://quarkus.io/guides/maven-tooling#build-tool-maven
            title: Quarkus - Building applications with Maven Guide
          message: Replace the Spring Parent POM with Quarkus BOM in `<dependencyManagement>`
            section of the application's `pom.xml` file. Leverage the link below to
            fulfill this change.
          tags: []
          title: Replace the Spring Parent POM with Quarkus BOM
      when:
        or:
        - xmlfile:
            in: pom.xml
            matches: /m:project/m:parent[m:groupId/text() = 'org.springframework.boot'
              and m:artifactId/text() = 'spring-boot-starter-parent']
            namespace:
              prefix: m
              uri: http://maven.apache.org/POM/4.0.0
        - xmlfile:
            in: pom.xml
            matches: /m:project/m:parent[m:groupId/text() = 'org.springframework.boot'
              and m:artifactId/text() = 'spring-boot-parent']
            namespace:
              prefix: m
              uri: http://maven.apache.org/POM/4.0.0
      where: {}
