springboot-annotations-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from Spring Scheduled to Quarkus
      spring-scheduled extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-annotations-to-quarkus.windup.xml
  rules:
    springboot-annotations-to-quarkus-00000:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links: []
          message: Remove the SpringBoot @SpringBootApplication annotation. A Spring
            Boot application contains a "main" class with the @SpringBootApplication
            annotation. A Quarkus application does not have such a class. Two different
            alternatives can be followed - either to remove the "main" class associated
            with the annotation, or add the `org.springframework.boot:spring-boot-autoconfigure`
            dependency as an `optional` Maven dependency. An optional dependency is
            available when an application compiles but is not packaged with the application
            at runtime. Doing this would allow the application to compile without
            modification, but you would also need to maintain a Spring version along
            with the Quarkus application.
          tags: []
          title: Remove the SpringBoot @SpringBootApplication annotation
      when:
        javaclass:
          location: ANNOTATION
          references: org.springframework.boot.autoconfigure.SpringBootApplication
      where: {}
