springboot-shell-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from SpringBoot Shell to Quarkus
      picocli extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-shell-to-quarkus.windup.xml
  rules:
    springboot-shell-to-quarkus-00000:
      perform:
        hint:
          category-id: mandatory
          effort: '3'
          links:
          - href: https://quarkus.io/guides/picocli
            title: Quarkus Command Mode with Picocli Guide
          - href: https://spring.io/projects/spring-shell
            title: Spring Shell Guide
          message: Replace the SpringBoot Shell artifacts with Quarkus `picocli` extension
            Add Quarkus dependency `io.quarkus:quarkus-picocli` PicoCli provides command-line
            mode like Spring Shell but does not reuse the Spring interfaces therefore
            re-coding is also required to use the appropriate PicoCli interfaces.
          tags: []
          title: Replace the SpringBoot Shell artifact with Quarkus 'picocli' extension
      when:
        artifact:
          artifactId: spring-shell-core
          fromVersion: null
          groupId: org.springframework.shell
          toVersion: null
      where: {}
