springboot-actuator-to-quarkus:
  metadata:
    description: This ruleset gives hints to migrate from SpringBoot Actuator to Quarkus
      Smallrye Health extension
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: quarkus
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/quarkus/springboot/springboot-actuator-to-quarkus.windup.xml
  rules:
    springboot-actuator-to-quarkus-0100:
      perform:
        hint:
          category-id: mandatory
          effort: '5'
          links:
          - href: https://quarkus.io/guides/smallrye-health
            title: Quarkus - Smallrye Health
          message: "Replace the Spring Boot Actuator dependency with Quarkus Smallrye\
            \ Health extension.  \n                        It has to be replaced by\
            \ `io.quarkus:quarkus-smallrye-health` artifact."
          tags: []
          title: Replace the Spring Boot Actuator dependency with Quarkus Smallrye
            Health extension
      when:
        or:
        - dependency:
            artifactId: spring-boot-actuator
            groupId: org.springframework.boot
        - artifact:
            artifactId: spring-boot-starter-actuator
            fromVersion: null
            groupId: org.springframework.boot
            toVersion: null
        - artifact:
            artifactId: spring-boot-actuator
            fromVersion: null
            groupId: org.springframework.boot
            toVersion: null
        - artifact:
            artifactId: spring-boot-actuator-autoconfigure
            fromVersion: null
            groupId: org.springframework.boot
            toVersion: null
      where: {}
    springboot-actuator-to-quarkus-0200:
      perform:
        hint:
          category-id: mandatory
          effort: '1'
          links:
          - href: https://quarkus.io/guides/smallrye-health
            title: Quarkus Guide - Smallrye Health
          message: Replace `management.endpoints.web.exposure.include=health` with
            `quarkus.smallrye-health.root-path=/actuator/health`
          tags: []
          title: Replace Spring Health endpoint mapping
      when:
        filecontent:
          filename: application{profile}.{extension}
          pattern: management.endpoints.web.exposure.include{wildcard}health
      where:
        extension: (properties|yml|yaml)
        profile: .*
        wildcard: .*
