spring-boot-to-azure-identity-provider:
  metadata:
    description: Identify any identity provider(s) used by the application.
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags:
    - security
    targetTechnologies:
    - id: azure-appservice
      versionRange: null
    - id: azure-aks
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/azure/springboot/spring-boot-to-azure-identity-provider.windup.xml
  rules:
    spring-boot-to-azure-identity-provider-01000:
      perform:
        hint:
          category-id: information
          effort: '5'
          links:
          - href: https://docs.microsoft.com/en-us/azure/developer/java/migration/migrate-spring-boot-to-app-service#identity-providers
            title: Spring Security-related dependencies found in the project
          - href: https://docs.microsoft.com/azure/active-directory/external-identities/azure-ad-account
            title: Azure Active Directory (Azure AD) identity provider for External
              Identities
          - href: https://docs.spring.io/spring-security/reference/index.html
            title: Spring Security
          - href: https://auth0.com/docs/quickstart/backend/java-spring-security5/01-authorization
            title: 'Spring Boot API: Authorization'
          message: The application uses Spring security. Checkout Azure Active Directory
            as an identity provider.
          tags: []
          title: Spring Security-related dependencies
      when:
        or:
        - artifact:
            artifactId: spring-boot-starter-security
            groupId: org.springframework.boot
        - artifact:
            artifactId: '{*}'
            groupId: org.springframework.security
      where: {}
