spring-boot-to-azure-feign:
  metadata:
    description: Recommend OpenFeign instead of Feign.
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags:
    - feign
    targetTechnologies:
    - id: azure-appservice
      versionRange: null
    - id: azure-aks
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/azure/springboot/spring-boot-to-azure-feign.windup.xml
  rules:
    spring-boot-to-azure-feign-01000:
      perform:
        hint:
          category-id: mandatory
          effort: '3'
          links:
          - href: https://docs.microsoft.com/azure/developer/java/migration/migrate-spring-cloud-to-azure-spring-cloud?pivots=sc-standard-tier#identify-clients-that-bypass-the-service-registry
            title: Migrate clients bypassing the service registry
          - href: https://spring.io/projects/spring-cloud-openfeign
            title: Spring Cloud OpenFeign
          message: The application uses Feign. Spring Cloud Service Registry uses
            OpenFeign instead. When migrating to Spring Cloud Service Registry, the
            Feign invocations will no longer be possible. Update the clients to use
            Spring Cloud OpenFeign instead.
          tags: []
          title: Feign
      when:
        or:
        - artifact:
            artifactId: '{*}'
            fromVersion: null
            groupId: com.netflix.feign
            toVersion: null
        - artifact:
            artifactId: spring-cloud-starter-feign
            fromVersion: null
            groupId: org.springframework.cloud
            toVersion: null
      where: {}
