spring-boot-to-azure-eureka:
  metadata:
    description: Identify eureka dependencies.
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags:
    - eureka
    targetTechnologies:
    - id: azure-aks
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/azure/springboot/spring-boot-to-azure-eureka.windup.xml
  rules:
    spring-boot-to-azure-eureka-01000:
      perform:
        hint:
          category-id: information
          effort: '0'
          links:
          - href: https://docs.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-azure-kubernetes-service#identify-eureka-dependencies
            title: Spring Boot application using an Active MQ Broker
          - href: https://docs.microsoft.com/azure/azure-monitor/app/distributed-tracing
            title: Distributed Tracing
          message: 'The application uses Eureka. Make sure you configure Eureka with
            the following properties: ``` eureka.instance.prefer-ip-address=true eureka.instance.hostname=register-service
            # no localhost ```'
          tags: []
          title: eureka
      when:
        or:
        - artifact:
            artifactId: spring-cloud-netflix-eureka{*}
            groupId: org.springframework.cloud
        - artifact:
            artifactId: spring-cloud-starter-netflix-eureka{*}
            groupId: org.springframework.cloud
        - artifact:
            artifactId: '{*}'
            groupId: com.netflix.eureka
      where: {}
