springboot-associated:
  metadata:
    description: Verify the version of the Spring Boot framework is compatible with
      those supported by Red Hat Runtimes
    sourceTechnologies:
    - id: springboot
      versionRange: null
    tags: []
    targetTechnologies:
    - id: rhr
      versionRange: null
  original-file: https://github.com/windup/windup-rulesets/tree/master/rules-reviewed/rhr/springboot/springboot-associated-artifacts.rhamt.xml
  rules:
    springboot-associated-00001:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of AMQP SpringBoot starter
          tags: []
          title: Unsupported version of AMQP SpringBoot starter
      when:
        dependency:
          artifactId: amqp-10-jms-spring-boot-starter
          groupId: org.amqphub.spring
          toVersion: 2.0.9
      where: {}
    springboot-associated-00002:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of CXF JAXRS SpringBoot starter
          tags: []
          title: Unsupported version of CXF JAXRS SpringBoot starter
      when:
        dependency:
          artifactId: cxf-spring-boot-starter-jaxrs
          groupId: org.apache.cxf
      where: {}
    springboot-associated-00003:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of Resteasy SpringBoot starter
          tags: []
          title: Unsupported version of Resteasy SpringBoot starter
      when:
        dependency:
          artifactId: resteasy-spring-boot-starter
          groupId: org.jboss.resteasy
          toVersion: 2.9.9
      where: {}
    springboot-associated-00004:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of Infinispan SpringBoot starter
          tags: []
          title: Unsupported version of Infinispan SpringBoot starter
      when:
        dependency:
          artifactId: '{infinispanArtifactName}'
          groupId: org.infinispan
          toVersion: 2.1.2
      where:
        infinispanArtifactName: (infinispan-spring-boot-starter-embedded|infinispan-spring-boot-starter-remote)
    springboot-associated-00005:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of Keycloak SpringBoot starter
          tags: []
          title: Unsupported version of Keycloak SpringBoot starter
      when:
        dependency:
          artifactId: keycloak-spring-boot-starter
          groupId: org.keycloak
          toVersion: 4.8.2
      where: {}
    springboot-associated-00006:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of Narayana SpringBoot starter
          tags: []
          title: Unsupported version of Narayana SpringBoot starter
      when:
        dependency:
          artifactId: narayana-spring-boot-starter
          groupId: me.snowdrop
          toVersion: 2.0.9
      where: {}
    springboot-associated-00007:
      perform:
        hint:
          category-id: potential
          effort: '1'
          links:
          - href: https://access.redhat.com/articles/3349341
            title: RHOAR Spring Boot Supported Configurations
          - href: https://access.redhat.com/articles/3348731
            title: RHOAR Component Details Overview
          message: Check the links below for the Red Hat Runtimes supported version
            of OpenTracing Spring Jaeger SpringBoot web starter
          tags: []
          title: Unsupported version of OpenTracing Spring Jaeger SpringBoot web starter
      when:
        dependency:
          artifactId: opentracing-spring-jaeger-web-starter
          groupId: io.opentracing.contrib
          toVersion: 1.0.0
      where: {}
    springboot-associated-00008:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `org.amqphub.spring:amqp-10-jms-spring-boot-starter`
              dependency to a version compatible with the supported versions of the
              RHOAR components provided in the link.
            tags: []
            title: Migrate to a supported AMQP dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='org.amqphub.spring'
            and ../m:artifactId='amqp-10-jms-spring-boot-starter' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00009:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `org.apache.cxf:cxf-spring-boot-starter-jaxrs` dependency
              to a version compatible with the supported versions of the RHOAR components
              provided in the link.
            tags: []
            title: Migrate to a supported CXF JAX-RS dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='org.apache.cxf'
            and ../m:artifactId='cxf-spring-boot-starter-jaxrs' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00010:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `org.jboss.resteasy:resteasy-spring-boot-starter` dependency
              to a version compatible with the supported versions of the RHOAR components
              provided in the link.
            tags: []
            title: Migrate to a supported RestEasy dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='org.jboss.resteasy'
            and ../m:artifactId='resteasy-spring-boot-starter' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00011:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `org.infinispan:infinispan-spring-boot-starter-embedded`
              dependency to a version compatible with the supported versions of the
              RHOAR components provided in the link.
            tags: []
            title: Migrate to a supported Infinispan embedded dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='org.infinispan'
            and ../m:artifactId='infinispan-spring-boot-starter-embedded' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00012:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `org.infinispan:infinispan-spring-boot-starter-remote`
              dependency to a version compatible with the supported versions of the
              RHOAR components provided in the link.
            tags: []
            title: Migrate to a supported Infinispan remote dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='org.infinispan'
            and ../m:artifactId='infinispan-spring-boot-starter-remote' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00013:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `org.keycloak:keycloak-spring-boot-starter` dependency
              to a version compatible with the supported versions of the RHOAR components
              provided in the link.
            tags: []
            title: Migrate to a supported Keycloak dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='org.keycloak'
            and ../m:artifactId='keycloak-spring-boot-starter' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00014:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `me.snowdrop:narayana-spring-boot-starter` dependency
              to a version compatible with the supported versions of the RHOAR components
              provided in the link.
            tags: []
            title: Migrate to a supported Narayana dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='me.snowdrop'
            and ../m:artifactId='narayana-spring-boot-starter' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
    springboot-associated-00015:
      perform:
        iteration:
          hint:
            category-id: optional
            effort: '1'
            links:
            - href: https://access.redhat.com/articles/4310921
              title: Red Hat OpenShift Application Runtimes Spring Boot 2.1.6 Component
                Details - Supported Red Hat Components
            message: Migrate `io.opentracing.contrib:opentracing-spring-jaeger-web-starter`
              dependency to a version compatible with the supported versions of the
              RHOAR components provided in the link.
            tags: []
            title: Migrate to a supported Spring Jaeger dependency
          over: dependencies-block
      when:
        xmlfile:
          as: dependencies-block
          in: pom.xml
          matches: /m:project/m:dependencies/m:dependency/m:version[../m:groupId='io.opentracing.contrib'
            and ../m:artifactId='opentracing-spring-jaeger-web-starter' and not(contains(.,
            'redhat'))]
          namespace:
            prefix: m
            uri: http://maven.apache.org/POM/4.0.0
      where: {}
